<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.block {
  position:absolute;
  top: 25%;
  left:10%;
  display: block;
  width: 80%;
  height:50%;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 36px;
  cursor: pointer;
  text-align: center;
}

.block:hover {
  background-color: #ddd;
  color: black;
}
</style>
</head>
<body>

<form action="echo">
<button type="submit" class="block">{{state}}</button>
</form>

</body>
</html>
